//*** Card.vue ***//

.card {
  background: #f9fafb;
  border-radius: 32px;
  padding: 24px;
  padding-bottom: 33px;
  @media screen and (min-width: 1200px) {
    padding: 40px;
  }
  &:last-child {
    margin-bottom: 0;
  }
  &:hover {
    box-shadow: 0px 24px 40px rgba(160, 167, 178, 0.25);
    outline: 4px solid var(--light-blue);
  }
}

.profile {
  margin-bottom: 18px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
  &__avatar {
    position: relative;
    text-align: center;
  }
  &__avatarImage {
    position: relative;
    text-align: center;
    @media screen and (min-width: 800px) {
      margin-bottom: 20px;
    }
    &.is-aligned {
      &::after {
        content: '';
        position: absolute;
        width: 30px;
        height: 30px;
        background-image: url('../assets/svg/check.svg');
        background-size: cover;
        left: 50%;
        bottom: -7px;
        transform: translateX(-50%);
        background-color: white;
        border: 4px solid white;
        border-radius: 50%;
      }
    }
    img {
      width: 96px;
      height: 96px;
      border-radius: 50%;
    }
  }
  &__title {
    @media screen and (min-width: 400px) {
      padding-left: 17px;
    }
    @media screen and (min-width: 1200px) {
      padding-left: 32px;
      padding-top: 6px;
    }
  }
  &__name {
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: -0.02em;
    text-align: center;
    @media screen and (min-width: 400px) {
      text-align: inherit;
    }
    @media screen and (min-width: 800px) {
      font-size: 40px;
      margin-bottom: 16px;
    }
  }
  &__headline {
    margin-bottom: 22px;
    @media screen and (min-width: 400px) {
      display: flex;
      align-items: center;
    }
    @media screen and (min-width: 800px) {
      margin-bottom: 0;
    }
    @media screen and (min-width: 1200px) {
      display: flex;
      align-items: flex-start;
    }
  }
  &__audience {
    font-weight: 500;
    line-height: 150%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    img {
      @media screen and (min-width: 800px) {
        padding-right: 7px;
      }
    }
  }
}

.description {
  margin-bottom: 16px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 32px;
    padding-left: 126px;
  }
}

.metrics {
  @media screen and (min-width: 1200px) {
    display: flex;
    padding-left: 127px;
  }
  &__item {
    margin-bottom: 8px;
    @media screen and (min-width: 1200px) {
      margin-bottom: 0;
      padding-right: 88px;
    }
    &:last-child {
      margin-bottom: 0;
      padding-right: 0;
    }
    span {
      font-weight: 600;
    }
  }
}