//*** Heading.vue ***//

.heading {
  &.hide {
    @media screen and (max-width: 800px) {
      display: none;
    }
  }
}

h1 {
  font-weight: 600;
  font-size: 40px;
  line-height: 1;
  letter-spacing: -0.02em;
  margin: 0;
  &.hide {
    display: none;
  }
  @media screen and (min-width: 800px) {
    font-size: 60px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 80px;
  }
}