//*** Pagination.vue ***//

.pagination {
  padding: 20px 0 40px;
  max-width: 411px;
  margin: auto;
  display: flex;
  align-items: center;
  &__list {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  &__item {
    list-style: none;
    margin: 0 8px;
    @media screen and (min-width: 800px) {
      margin: 0 16px;
    }
  }
  &__arrow {
    list-style: none;
    margin: 0 8px;
    @media screen and (min-width: 800px) {
      margin: 0 14px;
    }
    &.disabled {
      opacity: 0.5;
    }
  }
  &__arrowlink {
    border: none;
    background-color: var(--light-grey);
  }
  &__itemlink {
    background: rgba(30, 41, 59, 0.1);
    border: none;
    border-radius: 12px;
    color: var(--text-dark-blue);
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    padding: 13px;
    width: 56px;
    height: 48px;
    text-align: center;
    &.active {
      outline: 1px solid rgba(30, 41, 59, 0.25);
    }
  }
}